<!doctype html>
    <html ng-app="myApp" > <!-- ng-init="names=['hussein','Lol','WOw']"  -->
      <head>
   	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
	   <script type="text/javascript" src="angular/angular-route.min.js"></script>
     <!-- <script type="text/javascript" src="JS/main.js"></script>-->
	
	   <script type="text/javascript" src="JS/App.js"></script>
	  <script type="text/javascript" src="JS/controller.js"></script>
	  </head>
      <body>
       <div ng-view>
	   
	   
	   
	   
	   
	   
	   
		
	<label>Name: </label>
		<!--<input type="text" ng-model="aff" placeholder="Enter a name here">-->
		<!--<input type="text" ng-model="searching" >
		<h1>{{aff}}</h1>
		{{names}}
		<div ng-controller="myCtrl">
		<!--<ul ng-repeat="i in names">
		<li ng-bind="i"></li>
		</ul> -->
		<!--</br>
		<table > 
		<tr ng-repeat="i in names|uppercase"><td><img ng-src="image/{{i.name}}.jpg"></img></td> <td>{{i.name}}<br>{{i.Age}}</td></tr>
		</table>
		
		</div>-->
		
		
		
		
      </body>
    </html>

